@import "tailwindcss";
@import "@nuxt/ui-pro";

@import "./animations.css";
@import "./playground.css";

@source "../../../";

@theme {
  --font-serif: "Newsreader", serif;
  --font-sans: "Geist", sans-serif;
}

:root {
  scrollbar-color: var(--ui-border) transparent;
  scrollbar-width: thin;

  --ui-primary: rgb(40, 83, 255) !important;
  --ui-bg: rgb(248, 243, 238);
  --ui-radius: 0
}

.dark {
  --ui-primary: rgb(8, 73, 236) !important;
  --ui-bg: rgb(2, 2, 2);
}

@layer base {
  :root {
    @apply selection:bg-primary selection:text-highlighted;
  }

  .blurred {
    @apply blur-xs hover:blur-none focus-within:blur-none focus:blur-none transition-all duration-300;
  }

  .no-link {
    @apply text-muted! border-none cursor-default font-normal not-italic!;
  }
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}