/* Main Noise effect */
.noise {
    animation: noise 2s steps(10) infinite;
}

@keyframes noise {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    30% {
        transform: translate(5%, 10%);
    }
    50% {
        transform: translate(-15%, 5%);
    }
    70% {
        transform: translate(10%, -5%);
    }
    90% {
        transform: translate(5%, -10%);
    }
}

/* Appear effect */

[data-animate] {
    --stagger: 0;
    --delay: 80ms;
    --start: 0ms;
}

@media (prefers-reduced-motion: no-preference) {
    [data-animate] {
        animation: enter 0.6s both;
        animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
    }
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

[data-animation-controller="false"] [data-animate] {
    animation: none;
}

.enter-content > * {
  --stagger: 0;
  --delay: 50ms;
  --start: 0ms;
  animation: enter 1s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.enter-content > *:nth-child(1) { --stagger: 1; }
.enter-content > *:nth-child(2) { --stagger: 2; }
.enter-content > *:nth-child(3) { --stagger: 3; }
.enter-content > *:nth-child(4) { --stagger: 4; }
.enter-content > *:nth-child(5) { --stagger: 5; }
.enter-content > *:nth-child(6) { --stagger: 6; }
.enter-content > *:nth-child(7) { --stagger: 7; }
.enter-content > *:nth-child(8) { --stagger: 8; }
.enter-content > *:nth-child(9) { --stagger: 9; }
.enter-content > *:nth-child(10) { --stagger: 10; }
.enter-content > *:nth-child(11) { --stagger: 11; }
.enter-content > *:nth-child(12) { --stagger: 12; }
.enter-content > *:nth-child(13) { --stagger: 13; }
.enter-content > *:nth-child(14) { --stagger: 14; }
.enter-content > *:nth-child(15) { --stagger: 15; }
.enter-content > *:nth-child(16) { --stagger: 16; }
.enter-content > *:nth-child(17) { --stagger: 17; }
.enter-content > *:nth-child(18) { --stagger: 18; }
.enter-content > *:nth-child(19) { --stagger: 19; }
.enter-content > *:nth-child(20) { --stagger: 20; }
