@import "animations.css";

/* Global styles, css resets, etc. */
html, body, #__nuxt {
    width: 100%;
    height: 100%;

    @apply text-zinc-900 dark:text-zinc-100;
}

.writing {
    @apply prose text-zinc-900 dark:text-zinc-100;
    @apply prose-h1:text-3xl prose-h1:text-zinc-900 dark:prose-h1:text-zinc-100 prose-h1:font-newsreader prose-h1:italic prose-h1:font-bold;
    @apply prose-h2:text-2xl;
    @apply prose-h3:text-xl;
    @apply prose-h4:text-lg;
}

@font-face {
    font-family: "Newsreader", serif;
    src: url("../../public/fonts/Newsreader_60pt-MediumItalic.ttf");
}

/* Blurred line effect */
.blurred {
    @apply blur-[7px] hover:blur-[0px] w-fit transition-all duration-300;
}

.link {
    @apply italic hover:text-accent dark:hover:text-accent hover:underline;
}
